extends base

block content

.form
  .formtop
    a(href='#')
      img.img2(src='img2.svg')
    h5.h31
      | Register
      h6.intro
        | Hello Welcome to DAMO, Please fill the form below, And start buying and selling NFTs
  .formleft
    h5.firstName First Name
    input#firstName(type='text' name='' placeholder='Shiva' value='')
    h5.lastName Last Name
    input#lastName(type='text' name='' placeholder='Palo' value='')
    h5.email Email
    input#Email(type='email' name='' placeholder='abc@gmail.com' value='')
    svg.middleline(width='2' height='813' viewbox='0 0 2 813' fill='none' xmlns='http://www.w3.org/2000/svg')
      line(x1='1' x2='1' y2='813' stroke='#C6C3C3' stroke-width='2')
  .formright
    h5.website Website
    input#website(type='text' name='' placeholder='https://' value='')
    h5.pinterest Pinterest
    input#pinterest(type='text' name='' placeholder='https://' value='')
    h5.instagram Instagram
    input#instagram(type='text' name='' placeholder='https://' value='')
    h5.behance Behance
    input#behance(type='text' name='' placeholder='https://' value='')
    a(href='#')
      img#arrow(src='arrow2.svg')
